ion-toolbar{
    --ion-background-color: transparent !important;
    border-bottom: 3px solid #ff9900;
}

ion-title{
    color: #ff9900;
    font-size: 30px;
    display: flex;
    text-align: center;
}

ion-content {
    --background: none;
    background-image: url("../assets/bg.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

/* c est pour rendre les "ion-item" transparent */
ion-item {
    /* "!important" C'est pour dire a ionic que cette propriete la est *
    * prioritaire par rapport a l "ion item"*/
    --ion-background-color: transparent !important;
}

/* Pour avoir un contenue a peu prés centrer */
.padding {
    padding: 5%;
}


ion-list {
    --ion-background-color: transparent !important;
}