<ion-content>

  <ion-toolbar>
    <ion-title color="light" size="large">Inscription</ion-title>
  </ion-toolbar>

  <div class="padding">



    <!-- "ion-item" c est pour proposer du contenue en lignen -->
    <ion-item>
      <ion-label color="light">NOM</ion-label>
      <ion-input color="light" placeholder="MICHENKO" type="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="light">Prenom</ion-label>
      <ion-input color="light" placeholder="Romaric" type="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="light">Adresse</ion-label>
      <ion-input color="light" placeholder="08 Truc machin chouette 97320" type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="light">Email</ion-label>
      <ion-input color="light" placeholder="miroma@gmail.com" type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="light">Mot de passe</ion-label>
      <ion-input color="light" placeholder="Mot de passe" type="password"></ion-input>
    </ion-item>

    <ion-list>
      <ion-radio-group value="biff">
        <ion-list-header>
          <ion-label color="light">Votre statue :</ion-label>
        </ion-list-header>

        <ion-item>
          <ion-label color="light">Particulier</ion-label>
          <ion-radio color="light" slot="start" value="biff"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label color="light">Administration</ion-label>
          <ion-radio color="light" slot="start" value="griff"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label color="light">Modérateur</ion-label>
          <ion-radio color="light" slot="start" value="buford"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <!-- "fill="outline"" c est le bord et le text du boutton qui sera mis en valeur -->
    <!-- "shape="round"" pour avoir les bords en arrondi -->
    <!-- "expand="block"" Pour que les bouttons prennent toutes la largeur -->
    <ion-button color="light" fill="outline" shape="round" expand="block" [routerLink]="['/menu']">Valider</ion-button>
    <br>
    <ion-button shape="round" expand="block" [routerLink]="['/home']">Retour</ion-button>

  </div>
</ion-content>