ion-toolbar{
  --ion-background-color: transparent !important;
  border-bottom: 3px solid #ff9900;
}

ion-title{
  color:#ff9900;
  font-size: 30px;
  display: flex;
  text-align: center;
}

ion-content {
  --background: none;
  background-image: url("../assets/bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

ion-input::placeholder {
  color: #d57a04;

}

/* c est pour rendre les "ion-item" transparent */
ion-item {
  /* "!important" C'est pour dire a ionic que cette propriete la est *
  * prioritaire par rapport a l "ion item"*/
  --ion-background-color: transparent !important;
}

/* Pour avoir un contenue a peu prés centrer */
.padding {
  padding: 5%;
}


/* Ici c est pour le logo */
.logo {
  height: 250px;
  position: relative;
}

/* Ici c est pour le text a l interieur du logo */
.logo img {
  height: 250px;
  position: absolute;
  /* C'est ujn font-size car l icon est un text */
  /* Pour bien centrer notre icon a l'interieur de notre boite */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

