

<ion-content>

  <ion-toolbar>
    <ion-title color="light" size="large">Connexion</ion-title>
  </ion-toolbar>

  
  
  <div class="padding">

    <!--Pour le logo-->

    <div class="logo">
      <img src="../assets/logo-signus.png/" alt="">
    </div>

    <!-- "ion-item" c est pour proposer du contenue en lignen -->
    <ion-item>
      <ion-label color="light">Email</ion-label>
      <ion-input color="warning" placeholder="Adresse email" type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="light">Mot de passe</ion-label>
      <ion-input color="warning" placeholder="Mot de passe" type="password"></ion-input>
    </ion-item>

    <!-- "lines="none" c'est pour ne pas avoir la ligne juste au dessous" -->
    <ion-item lines="none">
      <!-- "fill="clear"" pour que ce soit que le texte qui soit mis en valeur 
        et non pas le boutton tout entier -->
      <ion-button color="light" fill="clear" slot="end">Mot de passe oublié ?</ion-button>
    </ion-item>

    <!-- "fill="outline"" c est le bord et le text du boutton qui sera mis en valeur -->
    <!-- "shape="round"" pour avoir les bords en arrondi -->
    <!-- "expand="block"" Pour que les bouttons prennent toutes la largeur -->
    <ion-button color="light" fill="outline" shape="round" expand="block" [routerLink]="['/menu']">CONNEXION</ion-button>
    <br>
    <ion-item lines="none">
      <!-- "class="ion-text-center"" c'est une class speciale de la propriete ionic 
        qui permet de centrer -->
      <ion-label class="ion-text-center" color="light" >Pas de compte SignUs?</ion-label>
    </ion-item>
    <ion-button shape="round" expand="block" [routerLink]="['/inscription']">INSCRIPTION</ion-button>
  </div>
</ion-content>