<ion-content>

  <ion-toolbar>
    <ion-title color="light" size="large">Formulaire envoyé</ion-title>
  </ion-toolbar>

    <!--Pour le logo-->

    <div class="logo">
      <ion-icon color="success" name="checkbox-outline"></ion-icon>
    </div>


  <div class="padding">



    <!-- "ion-item" c est pour proposer du contenue en lignen -->
    <ion-card>
      <p> Votre formulaire a bien été expédié, 
        vous serez notifié au franchissement de chaque étape.</p>
    </ion-card>

    <br>

    <ion-button shape="round" expand="block" [routerLink]="['/menu']">Menu</ion-button>

  </div>

</ion-content>