<ion-content>
  <ion-toolbar>
    <ion-title color="light">Nom de l'utilisateur</ion-title>
    <ion-buttons collapse="true" slot="end">
      <ion-button color="light" id="souligner" (click)="home()">Deconnexion</ion-button>
    </ion-buttons>
  </ion-toolbar>

  <div class="padding">

    <div>
      <div>

        <div class="sigle">
          <ion-icon color="light" name="location-outline"></ion-icon>
        </div>
        <ion-button color="light" shape="round" expand="block" [routerLink]="['/signaler']">Signaler un incident
        </ion-button>
      </div>

      <div id="div">

        <div class="sigle">
          <ion-icon color="light" name="git-compare-outline"></ion-icon>
        </div>
        <ion-button color="light" shape="round" expand="block" [routerLink]="['/vos-signaux-en-cours']">Signallement
          en
          cours</ion-button>

      </div>
    </div>

  </div>
</ion-content>